
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Pixelify+Sans:wght@400;500;600;700&display=swap');
 /* font-family: 'ADLaM Display', cursive;
font-family: 'Pixelify Sans', cursive;
*/


*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
    font-family:'Pixelify Sans', cursive, Arial, Helvetica, sans-serif;
}

body{
    background-color: #191919ec;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

canvas {
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(151, 109, 109);
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -20px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1 ;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: red;
}

.final-score {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 60px;
    text-decoration: underline;
    color: yellow;
    
    
}

#pontos {
    font-size: 4rem;
}

.btn-play{
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.btn-play:hover{
   background-color: green;
   color: white;
}